/* @override http://127.0.0.1:8000/theme/css/style.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
	text-shadow: #000000 0 0 0px;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Single-column layout */

html {
	background-color: #fcfcfc;
	padding: 0.5em 1.5em;
}

body {
	font-size: 12pt;
	margin: 0 auto;
	max-width: 940px;
	background-color: white;
	padding: 0;
	line-height: 1.4em;
}

#banner {
	display: block;
	width: 100%;
	height: 2em;
	padding-top: 0.2em;
	background-color: black;
}
#banner a {
	color: white;	
}
#banner a:link {
	text-decoration: none;
	border-bottom: 0;
}
#banner #sitename {	
    float: left;
	font-size: 1.4em;
	margin-left: 0.3em;
}
#banner #sitesubtitle {
	color: white;
    float: right;
	font-style: italic;
	font-size: 0.8em;
	margin-right: 3pt;
}
#banner-image {
	width: 100%;
}
#banner-image img {
	display: block;
}

#menu,
footer.body {
	display: block;
	width: 100%;
	height: 1.4em;
	color: white;
	background-color: black;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
#menu a:link,
footer.body a:link {
	color: white;
	text-decoration: none;
	border-bottom: 0;
	padding: 0.2em 0.2em;
}
#menu a:visited,
footer.body a:visited {
	color: white;
}
#menu a:hover,
#menu a:active,
footer.body a:hover,
footer.body a:active {
	color: black;
	background-color: white;
}
#menu .active a {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
#menu ul {
	margin-left: 0.3em;
	list-style-type: none;
}
#menu ul li {
	float: left;
	margin-right: 1.5em;
}

footer.body p {
	margin-left: 0.3em;
}

.paginator {
	text-align: center;
}

/* Fonts */

body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

pre,
code {
	font-family: "Source Code Pro", Menlo, "Courier New", Courier, mono;
}

a:link {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted;
}
a:visited {
	color: black;
}
a:active,
a:hover {
	border-bottom: 1px solid;
}}

/* Blog styles (overridden by content styles) */

ul, ol {
	list-style: none;
}

ul {
	list-style-type: disc;
	margin: 0 0 1em 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 1em 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 1em;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}

/* Content styles (overrides blog styles) */

#content {
	padding: 1em;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 1em;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 1em;
}
#content pre,
#content code,
#content kbd,
#content tt,
#content var {
	font-size: 0.9em;
	line-height: 1.2em;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content h1 {
	font-size: 1.2em;
	font-weight: bold;
}
#content h2 {
	font-size: 1.1em;
	font-weight: bold;
}
#content h3 {
	font-size: 1em;
	font-weight: bold;
}
#content h4 {
	font-size: 0.9em;
	font-weight: bold;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}

ul#post-list,
ol#post-list {
	list-style: none;
	margin-left: 0;
}
#post-list .article {
	margin: 1em 0 1em 0;
}

.article {
	display: inline-block;
}
.article:first-child {
	margin-top: 0;
}
.article .heading {
	width: 100%;
}
.article .heading header {
	float: left;
}
.article .heading footer {
	float: right;
}
.article .comments {
	float: left;
	opacity: 0.6;	
}
.article .entry-title a {
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 0;
}
.article .entry-content {
	float: left;
}
.article .neighbors {
	clear: left;
	text-align: right;
	font-size: 0.7em;
	opacity: 0.5;
}
.article .neighbors ul {
	margin: 0;
}
.article .related-posts {
	clear: left;
	text-align: left;
	font-size: 0.7em;
	opacity: 0.5;	
}
.article .related-posts ul {
    list-style: none;
    margin-left: 0;	
}
.article .related-posts ul li {
	float: left;
	margin-right: 12pt;
}